<!DOCTYPE html>
<html>
<head>
	<title>VueJS Practice</title>
</head>
<body>
	<div id="app">
		<form>
			<input v-model="message" type="text" name="">
		</form>
		<h3>{{ message }}</h3>
		<input v-model="options" type="checkbox" value="option1"> Option 1
		<input v-model="options" type="checkbox" value="option2"> Option 2
		<input v-model="options" type="checkbox" value="option3"> Option 3
		{{ options }}
		<input v-model="tags" type="text">
		{{ tags }}
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript">
		let vm = new Vue({
			el: '#app',
			data : {
				options: [],
				message : "Hello world",
				tags : []
			}
		});
	</script>
</body>
</html>